* { margin:  0; padding: 0; }
body { font: normal 16px Times New Roman; }
#container { width: 800px; margin: 0 auto; position: relative; }
#container > div { position: absolute; top: 0; left: 0; width: 800px; height: 400px; }
#container #game { z-index: 2; }
p#statbar { border: 1px solid #666; position: absolute; top: 0; right: 0; z-index: 3; border-radius: 0 0 0 5px; padding: 5px 10px; }
p#statbar #height { display: inline-block; width: 35px; text-align: right; }
p#statbar #speed { display: inline-block; width: 35px; text-align: right; }

#tmp { position: absolute; top: 0; right: 0; width: 200px; border: 1px solid red; display: none; }

#container #menu { background: #E0D9CF; color: #666; text-align: center; text-shadow: 1px 1px 1px #fff; z-index: 10; }
#menu h1, #menu h2, #menu h3 { cursor: pointer; display: inline-block; padding: 5px 20px; border: 1px solid transparent; border-bottom-color: #39C6F4; }
#menu h1:hover, #menu h2:hover, #menu h3:hover { border: 1px solid #39C6F4; }
#menu span { color: #39C6F4; }
#menu p { color: #888; }
#menu h1 { margin-top: 70px; font-ize: 28px; }
#menu h2 { margin-top: 30px; font-size: 24px; }
#menu h3 { margin-top: 30px; font-size: 20px; }

#howTo { background: #E0D9CF; color: #666; text-align: center; text-shadow: 1px 1px 1px #fff; z-index: 9; }
#howTo p { margin-top: 150px; }
#about { background: #E0D9CF; color: #666; text-align: center; text-shadow: 1px 1px 1px #fff; z-index: 8; }
#about p { margin-top: 150px; }
#howTo p span, #about p span { cursor: pointer; }

#message { background: #000; color: #E0D9CF; text-align: center; text-shadow: 1px 1px 1px #000; z-index: 5; opacity: 0.5; }
#message h3 { padding: 20px 30px 15px 30px; background: #666; margin: 80px 130px 0px 130px; }
#message p {  }