* { margin:  0; padding: 0; }
body { font: normal 14px Times New Roman; background: #F4F3EF; }
#container { width: 800px; margin: 0 auto; position: relative; height: 400px; }
#container > div { position: absolute; top: 0; left: 0; width: 800px; height: 400px; }
#container #game { z-index: 2; }
p#statbar { position: absolute; bottom: 0; left: 0; z-index: 2; color: #00ffc6; font-weight: bold; width: 800px; opacity: 0.8; }
p#statbar span#height, p#statbar span#speed { display: inline-block; width: 35px; text-align: right; }
p#statbar > span { display: block; background: #3d7284; padding: 10px 20px; }
p#statbar > span#stat-h { float: left; border-radius: 0 10px 0 0; }
p#statbar > span#stat-s { float: right; border-radius: 10px 0 0 0; }

#container #menu { background: #E0D9CF url(../img/menu.jpg) no-repeat; color: #888; text-align: center; text-shadow: 1px 1px 1px #fff; z-index: 10; }
#menu h1, #menu h2, #menu h3 { cursor: pointer; display: inline-block; padding: 5px 20px; border: 1px solid transparent; border-bottom-color: #39C6F4; }
#menu h1:hover, #menu h2:hover, #menu h3:hover { background: #39C6F4; color: #fff; text-shadow: 1px 1px 1px #666; }
#menu p { color: #888; }
#menu h1 { margin-top: 180px; font-size: 20px; }
#menu h2 { margin-top: 15px; font-size: 16px; }
#menu h3 { margin-top: 15px; font-size: 14px; }

#howTo { background: #E0D9CF; color: #666; text-align: center; text-shadow: 1px 1px 1px #fff; z-index: 9; }
#howTo p { margin-top: 150px; }
#about { background: #E0D9CF; color: #666; text-align: center; text-shadow: 1px 1px 1px #fff; z-index: 8; }
#about p { margin-top: 0px; }
#about p a { color: #888; text-decoration: none; font-weight: bold; }
#about h2 { margin-top: 30px; }
#about h3 { margin-top: 10px; }
#howTo p span, #about p span { cursor: pointer; }

#message { width: 800px; height: 400px; z-index: 5; position: relative; }
#message .box { position: absolute; top: 100px; left: 200px; z-index: 4; width: 400px; height: 200px; background: #e2ded3; font: bold 12px Arial; }
#message .shadow { position: absolute; top: 0; left: 0; z-index: 3; width: 800px; height: 400px; background: #000; opacity: 0.5; }
#message .box h1, #message .box h2 { width: 400px; height: 100px; text-indent: -5000px; margin-bottom: 20px; }
#message .box h1 { background: url(../img/gameover.jpg) no-repeat; }
#message .box h2 { background: url(../img/pause.jpg) no-repeat; }
#message .box p { color: #3d7284; text-align: center; text-shadow: 1px 1px 1px #fff; line-height: 20px; }
#message .box p a { color: #17a6d5; text-decoration: underline; }
#message .box p a:hover { text-decoration: none; }
#message .box p span { font-size: 16px; padding: 0 2px; text-shadow: 1px 1px 2px #fff; }